body {
    font-family: Arial, sans-serif;
    font-size: 0.8em;
    margin: 0;
    color: #333;
}

header {
    background-color: #27382A;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 5px; 
}

nav ul li a {
    color: #EBF2EC;
    text-decoration: none;
    transition: color 0.3s ease;
    padding: 5px 8px;
}

nav ul li a:hover, nav ul li a:focus {
    color: lightblue;
    background-color: #3A4A3A;
}

.user-info {
	padding-top: 20px;
	padding-bottom: 20px;
}

main {
  padding: 20px;
}

.profile-container {
    display: flex;
    align-items: center;
    background-color: #f4f4f4;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .profile-picture {
    flex: 0 0 150px;
    padding-right: 20px;
  }
  
  .profile-picture img {
    width: 100%;
    border-radius: 50%;
  }
  
  .profile-details {
    flex: 1;
  }
  
  .profile-details h3 {
    margin-top: 0;
  }
  
  .profile-actions {
    text-align: right;
  }
  
  .profile-actions button {
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    border-radius: 10px;
  }
  
  .popup form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    align-items: center;
  }
  
  .popup label {
    display: block;
    margin-bottom: 5px;
  }
  
  .popup input[type="text"],
  .popup input[type="email"],
  .popup textarea,
  .popup input[type="file"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .popup textarea {
    height: 50px;
  }
  
  .popup button {
    padding: 10px 15px;
    margin-top: 10px;
    border: none;
    background-color: #27382A;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .popup button:hover {
    background-color: #3A4A3A;
  }
  
  .popup input[type="submit"] {
    background-color: #4CAF50;
    color: white;
  }
  
  .popup button[type="button"] {
    background-color: #f44336;
    color: white;
  }
  
  .popup #changePasswordBtn {
    background-color: #008CBA;
    color: white;
  }
  
  